body {
  margin: 10px;
  background-color: gray;
}

.carousel {
  padding: 0;
  /* height: 20vw; */
  position: relative;
}

.carousel_title {
  color: black;
  text-align: center;
}

button.caret {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: transparent;
  outline: none;
  border: none;
  /* background-color: black; */
}

.btn-disable {
  opacity: 0.2;
  pointer-events: none;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 5px;
  display: inline-block;
}

.carousel_img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.caret_container {
  margin: 0 auto;
}

#caret_right {
  right: 0;
}

.right {
  margin-right: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  margin-left: 10px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.content_body {
}
